{{ define "main" }}
{{ $title := print .Site.Title " | " .Title}}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
<div class="container pt-5">
    <div class="row mt-5 pt-5">
        <div class="col-md-12">
            {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
            <h1 class="display-3 text-uppercase lh-sm">{{ $title }}</h1>
            {{ if isset .Params "lead" }}
            <p class="lead pb-2">
                <span class="underline">{{ .Params.lead }}</span>
            </p>
            {{ end }}
            <p class="lh-lg">
                {{ .Content }}
            </p>
            <img src="/images/shared/bull1-search.webp" alt="The Search for the Bull" width=200px/><img src="/images/shared/bull2-discover.webp" alt="Discovering the Footprints" width=200px/>
            <img src="/images/shared/bull3-percieving.webp" alt="Perceiving the Bull" width=200px/><img src="/images/shared/bull4-catching.webp" alt="Catching the Bull" width=200px/>
            <img src="/images/shared/bull5-taming.webp" alt="Taming the Bull" width=200px/><img src="/images/shared/bull6-riding.webp" alt="Riding the Bull home" width=200px/>
            <img src="/images/shared/bull7-transcend.webp" alt="The Bull Transcended" width=200px/><img src="/images/shared/bull8-self-transcend.webp" alt="Both Bull and Self Transcended" width=200px/>
            <img src="/images/shared/bull9-reachsource.webp" alt="Reaching the Source" width=200px/><img src="/images/shared/bull10-inworld.webp" alt="In the World" width=200px/>
        </div>
    </div>
</div>
{{ end }}
